<h1> Nasser Blog </h1>
<p>i belive that quote so i leave it at the begin :D</p>

<p>
    <q>Only I can change my life. No one can do it for me.</q>
    <span class="autor-style">Author Carol Burnett</span>
</p>

<ul class="without-point">
    <li> it's me Ahmed Nasser i am 24 i am still young i know :D </li>
    <li> i graduated from faculty of computer science with grade good </li>
    <li> i worked know as full stack web developer</li>
    <li>i joined acm as joiner for about 3 year so i have the problem solving skills</li>
    <li> i joined Orange Lab Egypt at
        <ul class="with-point">
            <li>2014 as internship </li>
            <li>2015 as apparentship </li>
            <li>2015-2016 as full time full stack web developer </li>
            <li>2016-2017 as part time full stack web developer</li>
        </ul>
    </li>
    <br>
    <li> and now i work on orange full time as full time web developer </li>
    <li> what is the strenght about my self and my weakness i will think offcourse i am not super hero but i think there was some good point off me
        <ul class="with-point">
            <h3>Postive point</h3>
            <li>Can work under pressure</li>
            <li>Hard worker</li>
            <li>Speed learner</li>
            <li>Intelligent</li>
            <li>I am reliable </li>
            <li>I am a stable person</li>
            <li>I am a good listener</li>
            <li>I can work with team</li>
            <li>I listen more than i speak</li>
            <li>I am open to new things</li>
        </ul>
        <br> of course i am not know if all this point actually have it but i hope from god to make me a good person :) about my weakness point i love my home and don't wan't to get out it what ever happen so my freind sad of me
    </li>
</ul>

<p>this website was build with angualr2 and it's code was in <a>https://github.com/sngvahmed/blog-frontend</a></p>

<p> toturial that i used to learn </p>
<ul>
    <li> <a>http://learnangular2.com/ </a></li>
    <li>see <a>https://github.com/angular/angular-cli</a> it is very useful </li>
</ul>