<div style="height:450px">
    <div style="height:100%">
        <div style="height:100%">
            <div style="height:100%">
                <swiper overlay-controls [config]="config" (indexChange)="onIndexChange($event)" (reachEnd)="onReachEnd($event)">
                    <div *ngFor="let slide of slides" class="swiper-slide" fxLayout="column" fxLayoutAlign="center center">
                        {{slide}}
                    </div>
                </swiper>

            </div>
        </div>
    </div>
</div>