.contacts {
    padding-right: 20px;
    padding-left: 20px;
}

.concept-btn {
    width: 80px;
}

.txt-area {
    width: 100%;
    height: 100%;
}

.txt-area-container {
    width: 100%;
    height: 250px;
}