<div class="contacts">
    <div class="form-group multiple-form-group input-group">
        <div class="input-group-btn input-group-select">
            <button type="button" class="btn btn-default dropdown-toggle concept-btn" data-toggle="dropdown">
                <span class="concept">Name</span>
            </button>
        </div>
        <input type="text" name="contacts['value'][]" class="form-control">
    </div>

    <div class="form-group multiple-form-group input-group">
        <div class="input-group-btn input-group-select">
            <button type="button" class="btn btn-default dropdown-toggle concept-btn" data-toggle="dropdown">
                <span class="concept"> &nbsp; Mail &nbsp;</span>
            </button>
        </div>
        <input type="text" name="contacts['value'][]" class="form-control">
    </div>

    <div class="form-group multiple-form-group input-group txt-area-container">
        <textarea class="form-control txt-area" rows="5" id="comment"></textarea>

    </div>

</div>