<div class="row main_component">
    <div class="col-md-8 conatiner_data">
        <div class="background_opacity"></div>
        <div class="sub_header_item">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="col-md-3 conatiner_header">
        <ul class="sub_header_item">
            <li [style.width]="getCustomWidth(1)" (click)="subItemMouseClick(1)">
                <p [routerLink]="['/home']">Home</p>
            </li>
            <li [style.width]="getCustomWidth(2)" (click)="subItemMouseClick(2)">
                <p [routerLink]="['/about']">About</p>
            </li>
            <li [style.width]="getCustomWidth(3)" (click)="subItemMouseClick(3)">
                <p [routerLink]="['/mywork']">My Work</p>
            </li>
            <li [style.width]="getCustomWidth(4)" (click)="subItemMouseClick(4)">
                <p [routerLink]="['/contactme']">Contact Me</p>
            </li>
        </ul>
    </div>
</div>