.pic-background {
    height: 350px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../../assets/profile-pic.jpg");
}

.social-media {
    align-content: center;
    text-align: center;
}

.social-media img {
    width: 50px;
}